---
import { getEntry } from 'astro:content';
//STYLES
import './main.scss';
//COMPONENTS
import TextBlock from '../../../shared/text-block/text-block.astro';
import ImageBgBlock from '../../../shared/image-bg-block/image-bg-block.astro';

//CONTENTs
const banner = await getEntry('imageBlocks', 'activity-banner');
const description = await getEntry('textBlocks', 'activity-description');
const imageBgBlock12 = await getEntry('imageBlocks', 'potrzanowo-12');
const imageBgBlock13 = await getEntry('imageBlocks', 'potrzanowo-13');
---

<main class="main">
	<ImageBgBlock
		imagePath={banner.data.imagePath}
		title={banner.data.blockTitle}
		alt={banner.data.imageAlt}
	/>

	<TextBlock data={description} />

	<ImageBgBlock
		imagePath={imageBgBlock12.data.imagePath}
		title={imageBgBlock12.data.blockTitle}
		alt={imageBgBlock12.data.imageAlt}
	/>
	<ImageBgBlock
		imagePath={imageBgBlock13.data.imagePath}
		title={imageBgBlock13.data.blockTitle}
		alt={imageBgBlock13.data.imageAlt}
	/>
</main>
