---
//STYLES
import './image-bg-block.scss';

interface Props {
	imagePath: string;
	title: string;
	alt?: string;
	linkText?: string;
	linkPath?: string;
	showTitle?: boolean;
}

const { imagePath, linkText, linkPath, title, alt, showTitle } = Astro.props;
---

<section class="image-bg-block">
	{
		showTitle ? (
			<div class="image-bg-block__wrap container">
				<h2 class="image-bg-block__title">{title}</h2>
			</div>
		) : (
			<h2 class="visually-hidden">{title}</h2>
		)
	}

	<img
		class="image-bg-block__image"
		src={imagePath}
		alt={alt}
		width="200"
		height="200"
		loading="lazy"
	/>

	{
		linkPath && (
			<a class="image-bg-block__link" href={linkPath} target="_blank">
				<span class="visually-hidden">{linkText}</span>
			</a>
		)
	}
</section>
